env_list =  ["format", "type", "build", "3.14", "3.13", "3.12", "3.11", "3.10", "3.9"]
parallel_show_output = true

[env.format]
description = "install ruff in a virtual environment and invoke it"
deps = ["ruff>=0.14"]
skip_install = true
commands = [
    [ "ruff", "check", "--select", "I", "--diff", "--fix", "sengiri" ],
    [ "ruff", "check", "--select", "I", "--diff", "--fix", "setup.py" ]
]

[env.type]
description = "run type checks"
deps = ["mypy"]
skip_install = true
commands = [["mypy", { replace = "posargs", default = ["sengiri"], extend = true} ]]

[env.build]
description = "Build the package using setuptools"
deps = ["build"]
commands = [
    ["python", "-m", "build"]
]

[env_run_base]
description = "run unit tests"
commands = [["python", { replace = "posargs", default = ["test_sengiri.py"], extend = true }]]