name: sengiri test on Linux

on:
  push:
    paths:
      - ".github/workflows/test-linux.yml"
      - "sengiri/**"
      - "*.py"
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/test-linux.yml"
      - "sengiri/**"
      - "*.py"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python:
          - "3.14"
          - "3.13"
          - "3.12"
          - "3.11"
          - "3.10"
          - "3.9"
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: setup python ${{ matrix.python }}
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: ${{ matrix.python }}

    - name: Install MeCab
      run: |
        sudo apt-get update
        sudo apt-get install -y gettext mecab libmecab-dev mecab-ipadic-utf8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .

    - name: Run tests
      run: |
        python test_sengiri.py
